.authContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: #1b1b1e;
  padding: 0 50px;
}

.headingSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.siteHeading {
  font-size: 4rem;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.formSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: #25252b;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  padding-top: 60px;
}
